<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Python Chat</title>
  </head>
  <body>
    <h1>Chat de Python</h1>
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="send">Enviar</button>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" charset="utf-8"></script>
    <script>
      const socket = io();

    //  socket.emit('mensaje', 'hola');

      socket.on('message', function (msg){
        $('#messages').append('<li>' + msg + '</li>')
      })

      $('#send').on('click', function() {
        console.log($('#myMensaje').val());
        socket.send($('#myMessage').val());
        $('#myMessage').val('');
      })
    </script>
  </body>
</html>
